<header class="header" id="header" role="banner">
			
	<div class="header__region region region-header">
		<div id="block-block-17" class="block block-block first last odd">
			
			<section id="splash">
				<div class="video-wrap">
					<div id="video"></div>
					<script>
					$().ready(function() {
					$('#video').tubular({videoId: 'TwWOO57b7yI'});
					});
					</script>
				</div>
				<div class="wrap">
					<img src="img/logo.svg">
					<nav id="main-nav" class="effect-0" role="navigation" tabindex="-1"><h2 class="element-invisible">Main menu</h2><ul class="nav links inline clearfix"><li class="menu-2344 first active"><a href="/" title="" class="active">Home</a></li>
					<li class="menu-2343"><a href="/cafeteria">Cafeteria</a></li>
					<li class="menu-2397 last"><a href="/contact-us">Contact Us</a></li>
				</ul></nav>	</div>
			</section>
		</div>
	</div>
</header>
<div id="main">
	<div id="content" role="main">
		<a id="main-content"></a>
		<h1 class="page__title title" id="page-title">Page Home</h1>
		
		<div id="block-block-20" class="block block-block first odd">
			
			<p class="rtecenter"><img alt="" src="img/chrismas_banner.jpeg" style="width: 2048px; height: 683px;" /></p>
		</div>
		<article class="node-428 node node-page view-mode-full clearfix">
			
			<div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even"><section id="about-us" class="black">
				<div class="wrap">
					<h2 class="underlined">About Us</h2>
					<p>
						What began as a pioneering passion project has become one of Vietnam’s most-loved lifestyle brands, bringing together a diverse range of products, people and ideas in one space.
					</p>
					<p>
						What unifies L’Usine today, is a shared sense of respect for the past, a love for excellent design and a desire to create a community where like-minded people can get together.
					</p>
					<p>
						From the start we wanted to build a brand and a lifestyle that cherishes authenticity, champions quality and celebrates heritage in everything we do. From the building itself, to the bespoke hand-crafted furniture and each carefully curated brand we stock, we work hard to ensure they all tell a unique and authentic story.
					</p>
					<p>
						Thanks to this, we have become a hub for creativity and a platform for both established and upcoming designers from around the world and we’re honoured to be the go-to café and restaurant for both hip locals and savvy global travellers.
					</p>
					<p>
						The same pioneering sprit that inspired L’Usine, is still engine that powers the business and the brand today. We continue to scour the world to bring you the best there is on offer, to inspire and unite our community of like-minded people.
					</p>
				</div>
			</section></div></div></div>
			
			
		</article>
	</div>
</div>