<header class="header" id="header" role="banner">
	<div class="header__region region region-header">
		<div id="block-block-19" class="block block-block first last odd">
			
			<nav id="main-nav" class="effect-0 headroom--not-top" role="navigation" tabindex="-1"><h2 class="element-invisible">Main menu</h2><ul class="nav links inline clearfix"><li class="menu-2344 first"><a href="/" title="">Home</a></li>
			<li class="menu-2343"><a href="/cafeteria">Cafeteria</a></li>
			<li class="menu-2397 active-trail last active"><a href="/contact-us" class="active-trail active">Contact Us</a></li>
		</ul></nav>
	</div>
</div>
</header>
<div id="main">
	<div id="content" role="main">
		<a id="main-content"></a>
		<h1 class="page__title title" id="page-title">Page Contact Us</h1>
		
		<article class="node-398 node node-page view-mode-full clearfix">
			
			<div class="field field-name-body field-type-text-with-summary field-label-hidden">
				<div class="field-items">
					<div class="field-item even">
						<section id="contact" class="fifty-fifty black">
							<div class="slide active">
								<div class=" picture">
									<div id="map-canvas" style="position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);"></div>
								</div>
								<div class=" content">
									<div class="field field-name-body">
										<div class="wrap">
											<h2 class="underlined">Get in Touch</h2>
											<table class="menu">
												<tbody>
													<tr>
														<td>For buying and retail</td>
														<td><a href="mailto:retail@lusinespace.com" class="mailto">retail@lusinespace.com<span class="mailto"><span class="element-invisible"> (link sends e-mail)</span></span></a></td>
													</tr>
													<tr>
														<td>For marketing opportunities</td>
														<td><a href="mailto:marketing@lusinespace.com" class="mailto">marketing@lusinespace.com<span class="mailto"><span class="element-invisible"> (link sends e-mail)</span></span></a></td>
													</tr>
													<tr>
														<td>For catering and events</td>
														<td><a href="mailto:events@lusinespace.com" class="mailto">events@lusinespace.com<span class="mailto"><span class="element-invisible"> (link sends e-mail)</span></span></a></td>
													</tr>
													<tr>
														<td>For all other enquiries</td>
														<td><a href="mailto:info@lusinespace.com" class="mailto">info@lusinespace.com<span class="mailto"><span class="element-invisible"> (link sends e-mail)</span></span></a></td>
													</tr>
												</tbody>
											</table>
											<a class="btn book">Book a Table</a>
										</div>
									</div>
								</div>
							</div>
						</section>
						<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBf4LxVv-cSUftVMqkMgf75MBrLVKE_9Yk"></script>
						<script src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
						<script>
							// defaults
						var zoom = 16,
						default_lat = 10.774490,
						default_lng = 106.701465,
						scrollwheel = false,
						layer = "toner", // replace "toner" here with "terrain" or "watercolor"
						map_element_id = "map-canvas";
						function initialize_map() {
							
						var mapOptions = {
						zoom: zoom,
						center: new google.maps.LatLng(default_lat, default_lng ),
						mapTypeId: google.maps.MapTypeId.ROADMAP,
						scrollwheel: scrollwheel,
							mapTypeId: layer,
							mapTypeControl: false,
						mapTypeControlOptions: {
						mapTypeIds: [layer]
						}
						}
						map = new google.maps.Map(document.getElementById(map_element_id), mapOptions);
						map.mapTypes.set(layer, new google.maps.StamenMapType(layer));
						//map.overlayMapTypes.insertAt(0, new google.maps.StamenMapType("terrain-labels"));
						}
						initialize_map();
						infowindow = new google.maps.InfoWindow();
						pin_icon = new google.maps.MarkerImage('/images/google-pin.svg', null, null, null, new google.maps.Size(60,50));
						i = 0;
						markers = [];
						var pin_leloi = {
						url: 'img/badge-leloi.png',
						size: new google.maps.Size(128, 128),
						origin: new google.maps.Point(0, 0),
						anchor: new google.maps.Point(64, 64)
						},
						pin_dong_khoi = {
						url: 'img/badge-dong-khoi.png',
						size: new google.maps.Size(128, 128),
						origin: new google.maps.Point(0, 0),
						anchor: new google.maps.Point(64, 64)
						};
						new google.maps.Marker({ position: {lat: 10.773165, lng: 106.699784}, map: map, icon: pin_leloi, title: '70 Lê Lợi, Bến Thành, Hồ Chí Minh' });
						new google.maps.Marker({ position: {lat: 10.775793, lng: 106.703236}, map: map, icon: pin_dong_khoi, title: '151/1 Đồng_khởi, 1st Floor' });
						</script>
					</div>
				</div>
			</div>
		</article>
	</div>
</div>