<!DOCTYPE html>
<!--[if IEMobile 7]><html class="iem7"  lang="en" dir="ltr"><![endif]-->
<!--[if lte IE 6]><html class="lt-ie9 lt-ie8 lt-ie7"  lang="en" dir="ltr"><![endif]-->
<!--[if (IE 7)&(!IEMobile)]><html class="lt-ie9 lt-ie8"  lang="en" dir="ltr"><![endif]-->
<!--[if IE 8]><html class="lt-ie9"  lang="en" dir="ltr"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!-->
<html  lang="en" dir="ltr" prefix="fb: http://ogp.me/ns/fb# og: http://ogp.me/ns# article: http://ogp.me/ns/article# book: http://ogp.me/ns/book# profile: http://ogp.me/ns/profile# video: http://ogp.me/ns/video# product: http://ogp.me/ns/product#"><!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon" />
	<meta name="description" content="" />
	<meta name="generator" content="Drupal 7 (http://drupal.org)" />
	<link rel="canonical" href="http://lusinespace.com/" />
	<link rel="shortlink" href="http://lusinespace.com/" />
	<meta property="og:site_name" content="L&#039;Usine" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://lusinespace.com/" />
	<meta property="og:title" content="L&#039;Usine" />
	<meta property="og:description" content="" />
	<meta property="og:image" content="img/home.jpg" />
	<meta property="og:latitude" content="10.775793" />
	<meta property="og:longitude" content="106.703236" />
	<meta property="og:street_address" content="151/1 Dong Khoi St., 1st Floor &amp; 70B Le Loi St. | 70B le Loi St." />
	<meta property="og:locality" content="Ho Chi Minh City" />
	<meta property="og:country_name" content="Vietnam" />
	<meta property="og:email" content="info@lusinespace.com" />
	<meta property="og:phone_number" content="+84 8 3521 0703" />
	<title>L'Usine | La Cafeteria De L'Usine</title>
	<meta name="MobileOptimized" content="width">
	<meta name="HandheldFriendly" content="true">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta http-equiv="cleartype" content="on">
	
	<link type="text/css" rel="stylesheet" href="/css/css_lQaZfjVpwP_oGNqdtWCSpJT1EMqXdMiU84ekLLxQnc4.css" media="all" />
	<link type="text/css" rel="stylesheet" href="/css/css_pzNRjEnNArM3EFVPBY5_dkfDoxLigMMblDCVvP1vcgs.css" media="all" />
	<link type="text/css" rel="stylesheet" href="/css/css_KD491u0DfHEeMTCWJyNnCvmOCzvnfyyo8Gp5XmHnkbc.css" media="all" />
	<link type="text/css" rel="stylesheet" href="/css/css_Q0jfwi4ecFnTN2O_tjqqRiRUlC-iKM0KAE6ZXWxLeUQ.css" media="all" />
	<script src="/js/js_UWQINlriydSoeSiGQxToOUdv493zEa7dpsXC1OtYlZU.js"></script>
	<script>document.createElement( "picture" );</script>
	<script src="/js/js_uiF75tUtWsZIPud4DMk7FvzKr_zA8oqdtm3l-SnQKJ0.js"></script>
	<script src="/js/js_GVmgW-CjIiiEw1sY3Z_nJvPqAJBR9taS3jApFOJs91w.js"></script>
	<script src="/js/js_L0T0NGnocWwtpmbpAqaw7D6w37zGIeg-xW8c8tQlnyM.js"></script>
	<!--[if lt IE 9]>
	<script src="/sites/all/themes/zen/js/html5-respond.js"></script>
	<![endif]-->
	<%= csrf_meta_tags %>

</head>
<body class="html front not-logged-in no-sidebars  <% if controller.controller_name == "cafeteria" %> page-journal <%end%> page-node page-node- page-node-428 node-type-page i18n-en" >
	<nav id="bt-menu" class="bt-menu bt-menu-close">
		<a id="trigger-overlay" class="bt-menu-trigger"><span>Menu</span></a>
	</nav>
	<div class="overlay overlay-scale"></div>
	
	<div id="page">
		<%= yield %>
	</div>
	<footer id="footer" class="region region-footer">
		<div id="block-block-16" class="block block-block first last odd">
			
			<div id="contact-us">
				<ul class="social-share list-unstyled">
					<li>
						<a class="btn" href="https://www.facebook.com/Lusinespace" target="_blank"><span class="icon-facebook"></span></a>
					</li>
					<li>
						<a class="btn" href="https://www.instagram.com/lusinespace/" target="_blank"><span class="icon-instagram"></span></a>
					</li>
				</ul>
				<div class="lusine-border">
					<div class="venues">
						<figure>
							<img src="/img/panel-upper-part-01.svg" alt="">
							<a class="btn book">Book a Table</a>
							<img src="/img/panel-lower-part-01.svg" alt="">
						</figure>
					</div>
				</div>
				<div class="disclaimer">
					L'Usine 2015, All Rights Reserved
					<br> Design by <a href="http://saigoneer.com">saigoneer</a>
				</div>
				<section class="contact-form ">
					<div class="fs-form-wrap" id="fs-form-wrap">
						<div class="fs-title">
							<h2>Book a Table</h2>
						</div>
						<form class="webform-client-form webform-client-form-389 fs-form fs-form-full" enctype="multipart/form-data" action="/" method="post" id="webform-client-form-389" accept-charset="UTF-8"><div><ol class="fs-fields">
							<li>
								<div  class="form-item webform-component webform-component-textfield webform-component--fs-fields--name">
									<label for="edit-submitted-fs-fields-name">What's your name? <span class="form-required" title="This field is required.">*</span></label>
									<input required="required" type="text" id="edit-submitted-fs-fields-name" name="submitted[fs_fields][name]" value="" size="60" maxlength="128" class="form-text required" />
								</div>
							</li>
							<li>
								<div  class="form-item webform-component webform-component-email webform-component--fs-fields--email">
									<label for="edit-submitted-fs-fields-email">What's your email address? </label>
									<input class="email form-text form-email" type="email" id="edit-submitted-fs-fields-email" name="submitted[fs_fields][email]" size="60" />
								</div>
							</li>
							<li>
								<div  class="form-item webform-component webform-component-textfield webform-component--fs-fields--phone">
									<label for="edit-submitted-fs-fields-phone">What's your telephone number? <span class="form-required" title="This field is required.">*</span></label>
									<input required="required" placeholder="0909090909" type="text" id="edit-submitted-fs-fields-phone" name="submitted[fs_fields][phone]" value="" size="60" maxlength="128" class="form-text required" />
								</div>
							</li>
							<li data-input-trigger>
								<div  class="form-item webform-component webform-component-radios webform-component--fs-fields--location">
									<label for="edit-submitted-fs-fields-location">Where? <span class="form-required" title="This field is required.">*</span></label>
									<div id="edit-submitted-fs-fields-location" class="form-radios form-radio"><div class="form-item form-type-radio form-item-submitted-fs-fields-location">
										<input required="required" class="form-radio form-radio" type="radio" id="edit-submitted-fs-fields-location-1" name="submitted[fs_fields][location]" value="le-loi" />  <label class="option" for="edit-submitted-fs-fields-location-1">L'Usine Le Loi </label>
									</div>
									<div class="form-item form-type-radio form-item-submitted-fs-fields-location">
										<input required="required" class="form-radio form-radio" type="radio" id="edit-submitted-fs-fields-location-2" name="submitted[fs_fields][location]" value="dong-khoi" />  <label class="option" for="edit-submitted-fs-fields-location-2">L'Usine Dong Khoi </label>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div  class="form-item webform-component webform-component-textfield webform-component--fs-fields--time-date">
								<label for="edit-submitted-fs-fields-time-date">What Date? <span class="form-required" title="This field is required.">*</span></label>
								<input required="required" placeholder="Today, Tomorrow" type="text" id="edit-submitted-fs-fields-time-date" name="submitted[fs_fields][time_date]" value="" size="60" maxlength="128" class="form-text required" />
							</div>
						</li>
						<li>
							<div  class="form-item webform-component webform-component-textfield webform-component--fs-fields--time-hour">
								<label for="edit-submitted-fs-fields-time-hour">What Time? <span class="form-required" title="This field is required.">*</span></label>
								<input required="required" placeholder="12am, 18:30..." type="text" id="edit-submitted-fs-fields-time-hour" name="submitted[fs_fields][time_hour]" value="" size="60" maxlength="128" class="form-text required" />
							</div>
						</li>
						<li>
							<div  class="form-item webform-component webform-component-textfield webform-component--fs-fields--number-of-people">
								<label for="edit-submitted-fs-fields-number-of-people">How many people? <span class="form-required" title="This field is required.">*</span></label>
								<input required="required" placeholder="2" type="text" id="edit-submitted-fs-fields-number-of-people" name="submitted[fs_fields][number_of_people]" value="" size="60" maxlength="128" class="form-text required" />
							</div>
						</li>
						<li>
							<div  class="form-item webform-component webform-component-textarea webform-component--fs-fields--special-requests">
								<label for="edit-submitted-fs-fields-special-requests">Any Special Requests? </label>
								<div class="form-textarea-wrapper"><textarea placeholder="Describe here" id="edit-submitted-fs-fields-special-requests" name="submitted[fs_fields][special_requests]" cols="60" rows="5" class="form-textarea"></textarea></div>
							</div>
						</li>
					</ol>
					<!-- /fs-fields -->
					<button class="fs-cancel">Cancel</button>
					<div  class="webform-layout-box horiz webform-component--fs-fields"></div>
					<input type="hidden" name="details[sid]" />
					<input type="hidden" name="details[page_num]" value="1" />
					<input type="hidden" name="details[page_count]" value="1" />
					<input type="hidden" name="details[finished]" value="0" />
					<input type="hidden" name="form_build_id" value="form-c0xXKMCt4BIXQfDt2ieAVFwt5zCO8gU0Krk_AW1xR9g" />
					<input type="hidden" name="form_id" value="webform_client_form_389" />
					<div class="form-actions"><input class="webform-submit button-primary form-submit" type="submit" name="op" value="Submit" /></div>
					<script>
						$("ol.fs-fields li > div > label").addClass("fs-field-label fs-anim-upper");
						$("ol.fs-fields li > div > input, ol.fs-fields li textarea, ol.fs-fields .form-radios").addClass("fs-anim-lower");
						$(".form-radios").addClass("clearfix");
						$("#edit-submitted-fs-fields-location-1 + label").addClass("radio-le-loi");
						$("#edit-submitted-fs-fields-location-2 + label").addClass("radio-dong-khoi");
						$(".webform-submit").addClass("fs-submit");
						
						$(".webform-component--fs-fields--name input").attr("required","");
						$(".webform-component--fs-fields--phone input").attr("required","");
						$(".webform-component--fs-fields--location input").attr("required","");
					$(".webform-component--fs-fields--time-date input").attr("required","");
						$(".webform-component--fs-fields--time-hour input").attr("required","");
						$(".webform-component--fs-fields--number-of-people input").attr("required","");
						$(".webform-component--fs-fields--email label").attr("data-info", "We won't send you spam, we promise...");
						$(".webform-component--fs-fields--phone label").attr("data-info", "We won't send you spam, we promise...");
						$(".webform-component--fs-fields--location > label").attr("data-info", "Two locations, two styles, same quality, in the heart of Saigon");
						$(".webform-component--fs-fields--time label").attr("data-info", "Remember our opening time is from 10am to 11pm");
					</script>
				</form>
			<!-- /fs-form-wrap -->
			</section>
		</div>
	</div>
</footer>
<script src="/js/js_7Ukqb3ierdBEL0eowfOKzTkNu-Le97OPm-UqTS5NENU.js"></script>
<script src="/js/js_ZpqVnj_JeNU448apO_w1Xo0EF-85Tr4AH8VLrOAuBlU.js"></script>
</body>
</html>
